<div class='container module'>
  <div class='row'>
    <div class='span12' data-repo='{{prepopulate}}'>
      <h2>{{module.module_name}}</h2>
      <!-- actual module data -->
    </div>
  </div>  
</div>