<div class='container module'>
  <div class='row'>
    <div class='span12' data-repo='{{prepopulate}}'>
      <h2>{{module.module_name}} <small><a class='muted' href="{{module.url}}">{{module.url}}</a></small></h2>
      <!--      
      <div class='row'>
        <div class='span6'>
          <div class='commitHistory'>{{! stacked bar chart #52 weeks history}}</div>
        </div>
        <div class='span6'>
          <div class='starsHistory'>{{! bar chart #52 weeks history}}</div>
        </div>
      </div>
      -->
      <div>
        <div class='eventsHistory'>{{! bar chart - events history for that past #52 weeks}}</div>
      </div>
      <div>
        <div class='stackQAHistory'>{{! multi series - new questions, new answers #52 week history}}</div>
      </div>
    </div>
  </div>  
</div>