<div class='container module'>
  <div class='row'>
    <div class='span12' data-repo='{{prepopulate}}'>
      <h2>{{module.module_name}}</h2>
      <div class='readme'>
        readme placeholder
      </div>
      <div class='row'>
        <div class='span6'>
          <div class='commitHistory'>{{! stacked bar chart #52 weeks history}}</div>
        </div>
        <div class='span6'>
          <div class='startHistory'>{{! bar chart #52 weeks history}}</div>
        </div>
      </div>
      <div>
        <div class='stackQAHistory'>{{! multi series - new questions, new answers #52 week history}}</div>
      </div>
    </div>
  </div>  
</div>