.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.cuprum {
  font-family: 'Cuprum', sans-serif, Helvetica, Arial;
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */

  -ms-user-select: none;
  user-select: none;
}
html {
  height: 100%;
}
body {
  background: #f3f3f3;
  height: auto !important;
  min-height: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 150px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
hr {
  margin: 15px 0 10px;
  border-top-color: #999;
}
header.navbar .navbar-inner {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: -ms-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #dddddd);
}
header.navbar .navbar-inner a.brand {
  display: inline-block;
  background: transparent url("/static/images/openinclude.png") no-repeat center center;
  width: 220px;
  height: 45px;
  padding: 0;
}
header.navbar .navbar-inner .navbar-search {
  margin: 9px 20px 0px 10px;
}
header.navbar .navbar-inner .navbar-search input {
  transition: width 0.2s ease-in-out 0.1s;
  -webkit-transition: width 0.2s ease-in-out 0.1s;
  -moz-transition: width 0.2s ease-in-out 0.1s;
  -o-transition: width 0.2s ease-in-out 0.1s;
  -ms-transition: width 0.2s ease-in-out 0.1s;
}
header.navbar .navbar-inner .navbar-search input:focus {
  width: 300px;
}
header.navbar .navbar-inner .nav a {
  line-height: 25px;
}
section.contents .features {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -118px 0 0 -355px;
}
section.contents .features ul {
  margin: 0;
  overflow: hidden;
  list-style: none;
}
section.contents .features ul li {
  float: left;
  width: 210px;
  padding-left: 40px;
  background: url(../images/arrow.png) no-repeat 9px 50%;
}
section.contents .features ul li:first-child {
  padding-left: 0;
  background: none;
}
section.contents .features ul li a:hover {
  text-decoration: none;
}
section.contents .features ul li a:hover .box {
  border: 5px solid #1279BE;
  background: #fdffe3;
}
section.contents .features ul li .box {
  width: 180px;
  text-align: center;
  color: #626056;
  border: 5px solid #106CAA;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #fff;
  padding: 4px 10px 0 10px;
  min-height: 140px;
}
section.contents .features ul li .box a {
  display: inline-block;
}
section.contents .features ul li .box h2 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: -5px 0 6px 0;
}
section.contents .features ul li .box p {
  font-size: 13px;
  font-weight: 500;
}
#view-wrapper > * {
  padding-top: 65px;
}
footer {
  position: absolute;
  top: 100%;
  background-color: #0088cc;
  background-image: -webkit-linear-gradient(top, #0088cc, #005b88);
  background-image: -moz-linear-gradient(top, #0088cc, #005b88);
  background-image: -o-linear-gradient(top, #0088cc, #005b88);
  background-image: -ms-linear-gradient(top, #0088cc, #005b88);
  background-image: linear-gradient(top, #0088cc, #005b88);
  margin-top: -40px;
  height: 40px;
  padding: 0;
  width: 100%;
}
.fluid-column-2 {
  width: 100%;
}
.fluid-column-2 .column-left {
  padding: 0 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  width: 200px;
  background: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.fluid-column-2 .column-right {
  padding: 0 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-left: 220px;
  background: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.discover #searchChart {
  position: relative;
}
.discover .searchChart {
  margin-top: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.discover.container .search {
  background: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-top: 35px;
  padding: 10px;
}
.discover.container .search form {
  margin: 0;
}
.discover.container .search form .input-append {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}
.discover.container .search form .input-append input {
  position: relative;
  z-index: 0;
}
.discover.container .search form .input-append input + .btn {
  margin-left: -65px;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 65px;
}
.discover .dot {
  opacity: 0.5;
  position: relative;
  cursor: pointer;
}
.discover .dot:hover {
  opacity: 0.75;
  stroke: #000000;
  stroke-width: 2px;
}
.discover .axis path,
.discover .axis line {
  fill: none;
  shape-rendering: crispedges;
  stroke: #666666;
}
.discover .axis .tick line {
  display: none;
}
.discover .x.label,
.discover .y.label {
  font-size: 20px;
}
.discover .popover {
  background: #ffffff;
  top: auto;
  z-index: 10000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #BBB;
  padding: 10px;
  max-width: 350px;
  min-width: 250px;
  position: absolute;
}
.discover .popover .moduleName {
  margin: 0 0 5px;
}
.discover .popover .moduleLanguage {
  margin: 0 0 5px;
}
.discover .popover .moduleLanguage .name,
.discover .popover .moduleLanguage .color {
  display: inline-block;
  vertical-align: middle;
}
.discover .popover .moduleLanguage .color {
  height: 14px;
  width: 14px;
}
.discover .popover .moduleLanguage .name {
  padding-left: 5px;
}
.discover .popover .moduleDescription {
  color: #666;
  margin-bottom: 0;
}
.discover .popover .moduleStars .activity,
.discover .popover .moduleStars .stars {
  margin: 0;
  padding-bottom: 5px;
  white-space: nowrap;
}
.discover .popover .moduleStars .activity i,
.discover .popover .moduleStars .stars i {
  margin-right: 5px;
}
.discover .moduleComparison {
  margin-top: 30px;
  background: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px;
}
.discover .moduleComparison .table {
  margin: 0;
}
.discover .moduleComparison .table thead .name {
  display: inline-block;
  margin-right: 3px;
}
.discover .moduleComparison .table tfoot h3 {
  text-align: center;
  color: #666;
}
.discover .filter {
  margin-top: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 20px;
}
.discover .filter h3 {
  margin-top: 0;
}
.discover .filter .filterBox h4 a {
  padding: 0 5px;
}
.discover .filter .filterBox h4 a + a {
  border-right: 1px solid #ccc;
  display: inline-block;
}
.discover .color {
  height: 12px;
  width: 12px;
  display: inline-block;
  opacity: 0.9;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 0px 4px 2px 0;
  vertical-align: middle;
}
.progress-meter .background {
  fill: #ccc;
}
.progress-meter .foreground {
  fill: #000;
}
.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.sign-in {
  margin-right: 20px;
}
.container.login {
  padding: 180px 0 120px;
}
.container.login .github-auth {
  padding: 5px 5px 5px 135px;
  background: url(/static/images/github_128.png) no-repeat 5px 50%;
  height: 128px;
  line-height: 128px;
  display: inline-block;
  font-size: 48px;
}
.container.login .welcome-back {
  width: 350px;
  height: 120px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -moz-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -o-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -ms-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: linear-gradient(top, #ffffff, #d9d9d9);
  margin: 0 auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 18px 20px;
}
.container.login .welcome-back > img {
  float: left;
  margin: 0 25px 0 0;
  border: 1px solid #cccccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.container.login .welcome-back .name {
  text-align: left;
  font-size: 16px;
  padding: 15px 0;
}
.container.login .welcome-back .controls {
  text-align: left;
  display: inline-block;
}
.container.login .welcome-back .controls a {
  margin-right: 15px;
  margin-top: 10px;
}
.container.login .welcome-back .controls a.thats-not-me {
  display: inline-block;
  font-size: 10px;
  vertical-align: middle;
}
.container.profile {
  margin-top: 30px;
}
.container.profile .setupPayment .dropdown-menu {
  padding: 15px;
  margin-bottom: 5px;
  width: 300px;
}
.container.profile .setupPayment .dropdown-menu form {
  margin: 0;
}
.container.profile .informationBox .agreement .agreementWrapper {
  padding: 20px;
  background: #ffffff;
  margin-bottom: 20px;
}
.container.profile .informationBox .agreement .agreementWrapper .agreementText {
  font-size: 12px;
  color: #666;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 15px;
}
.container.profile .informationBox .agreement label.checkbox {
  margin-left: 10px;
  line-height: 30px;
  white-space: nowrap;
  display: inline-block;
}
.container.profile .informationBox .agreement label.checkbox input {
  margin-top: 8px;
}
.container.profile .informationBox .bills {
  padding: 20px;
  background: #ffffff;
}
.container.profile .informationBox .bills h1 {
  margin: 0 0 6px;
}
.container.profile .informationBox .bills ul {
  clear: both;
  margin: 10px 0;
  padding: 0;
}
.container.profile .informationBox .bills ul li {
  list-style: none;
  font-size: 12px;
  color: #666;
  padding: 1px 0;
}
.container.profile .personalInformation {
  max-width: 220px;
}
.container.profile .personalInformation .avatar {
  padding: 5px;
  border: 1px solid #ccc;
  height: 210px;
  width: 210px;
  background: #ffffff;
}
.container.profile .personalInformation .avatar + h3 {
  margin-bottom: 0;
}
.container.profile .personalInformation .avatar + h3 + h4 {
  margin-top: 0;
}
.container.profile .personalInformation .accountType p {
  line-height: 26px;
  margin-bottom: 0;
}
.container.profile .personalInformation .accountType .status {
  float: right;
  display: inline-block;
}
.container.profile .personalInformation .accountType .status a {
  vertical-align: top;
}
.wizard-nav {
  height: 30px;
  line-height: 30px;
  background: white;
}
.wizard-nav .bar {
  font-size: 14px;
  width: 33.333333333333336%;
  background: inherit;
  color: black;
  text-shadow: none;
}
.wizard-nav .bar.active {
  background: #0E90D2;
  color: white;
}
.wizard-nav .bar.active .badge {
  background: white;
  color: black;
  font-weight: bold;
}
.tos .content {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 15px;
  background-color: white;
  border: 1px solid #DDDDD;
  margin-bottom: 15px;
  max-height: 300px;
}
.tos .content .content-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Times New Roman", "Arial", "Helvetica Neue";
  height: 300px;
}
#tos .header {
  font-size: 125%;
  margin-bottom: 15px;
}
.paymentInfo .content {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.tos .btn + .btn,
.paymentInfo .btn + .btn {
  margin-left: 10px;
}
#runway-tabs .table tr td > .btn {
  opacity: 0;
  transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
}
#runway-tabs .table tr:hover td > .btn {
  opacity: 1;
}
.stackQAHistory,
.commitHistory,
.starsHistory {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #ffffff;
  margin-bottom: 20px;
}
.stackQAHistory .axis path,
.commitHistory .axis path,
.starsHistory .axis path,
.stackQAHistory .axis line,
.commitHistory .axis line,
.starsHistory .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.stackQAHistory .line,
.commitHistory .line,
.starsHistory .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.module .toolbar {
  margin-top: 20px;
}
.project-list li,
.task-list li {
  margin-bottom: 2px;
  padding: 10px;
  cursor: pointer;
}
.project-list li:hover,
.task-list li:hover {
  background-color: #DDD;
}
.project-list li span {
  visibility: hidden;
}
.project-list li:hover span {
  visibility: visible;
}
.task-list li span {
  margin-left: 15px;
}
.task-list li input {
  margin-top: -3px;
}
.task-list .task-extended {
  display: none;
  padding-top: 6px;
}
.task-list .task-extended > * {
  margin: 6px;
}
#typeahead {
  position: absolute;
  z-index: 100;
  background-color: white;
  border: 1px solid gray;
}
.typeahead-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.typeahead-container li {
  padding: 6px;
  cursor: pointer;
}
.typeahead-container li:hover {
  background-color: gray;
}
.dashboard {
  margin-top: 35px;
}
.dashboard .dashboard-left {
  background: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
}
.dashboard .dashboard-left p {
  margin: 0;
}
.dashboard .dashboard-left .inline-popover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #0088CC;
}
.dashboard .dashboard-left .inline-popover a {
  vertical-align: middle;
  margin-left: 15px;
  color: #ccc;
}
.dashboard .dashboard-left .inline-popover a:hover {
  color: #fff;
}
.dashboard .dashboard-right {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px;
}
.dashboard h3 {
  margin-bottom: 0;
}
.dashboard h3 + hr {
  margin-top: 5px;
}
.dashboard h3 .btn {
  margin-top: 7px;
}
.tag-list {
  margin: 0 0 5px 10px;
}
.tag-list > h5 {
  display: inline-block;
  width: 70px;
  margin: 0 10px 0 0;
}
.tag-list > ul {
  display: inline-block;
  margin: 0;
}
.share-ideas {
  position: fixed;
  height: 30px;
  width: 180px;
  background: #106CAA;
  top: 215px;
  left: -85px;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  line-height: 25px;
  padding: 0 10px;
  color: #efefef;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: left 0.3s ease-out;
  -webkit-transition: left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out;
  -o-transition: left 0.3s ease-out;
  -ms-transition: left 0.3s ease-out;
}
.share-ideas:hover,
.share-ideas:active,
.share-ideas:focus {
  color: #fff;
  text-decoration: none;
}
#shareYourThoughts {
  position: fixed;
  z-index: 1000;
  top: 130px;
  left: -394px;
  transition: left 0.3s ease-out;
  -webkit-transition: left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out;
  -o-transition: left 0.3s ease-out;
  -ms-transition: left 0.3s ease-out;
  background: #ffffff;
  border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#shareYourThoughts .close {
  margin-bottom: 10px;
}
#shareYourThoughts textarea {
  resize: none;
}
.show #shareYourThoughts {
  left: 0;
  border-top: 1px solid #ccc;
}
.show .share-ideas {
  left: 309px;
}
#ideas,
#email {
  width: 350px;
}
.userList td {
  vertical-align: middle;
}
.userList td > a {
  display: inline-block;
}
.userList td img {
  display: inline-block;
  margin-right: 10px;
}
.admin .customer {
  padding: 20px 0 10px;
}
.admin .customer > img {
  margin-right: 10px;
}
.admin .customer .name {
  display: inline-block;
}
.runway-date {
  margin-bottom: 20px;
}
.runway-date .btn {
  margin-top: 2px;
}
.finance {
  margin: 10px;
}
.finance-list {
  list-style: none;
  padding: 5px;
}
.finance-list li {
  margin-left: 15px;
}
.daterange {
  margin-right: 20px;
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  color: #333333;
  cursor: pointer;
  line-height: 18px;
  padding: 8px;
}
.daterange span {
  margin: 3px;
}
.daterange .caret {
  margin-left: 2px;
  margin-top: 8px;
}
#wizard-nav li {
  padding: 5px;
}
#epiceditor {
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}
.bill {
  padding: 20px;
  background: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.bill p > b {
  display: inline-block;
  width: 100px;
}
.bill .controls {
  text-align: right;
}
.bill .controls > .btn {
  margin-left: 10px;
}
.blog-post {
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.blog-post header {
  padding: 10px 30px 22px;
  border-bottom: 1px solid #ccc;
}
.blog-post header .title {
  display: block;
  margin-bottom: 5px;
  color: #FBC21A;
}
.blog-post header img {
  width: 25px;
  border-radius: 5px;
  margin: -1px 4px 0 8px;
  background: #ccc;
}
text-decoration:none .blog-post header .author.no-link:hover {
  color: #399dd8;
}
.blog-post header .tags {
  display: inline-block;
}
.blog-post .body {
  white-space: normal;
  word-wrap: break-word;
  background: #f8f8f8;
  padding: 20px 30px;
  line-height: 23px;
  border-radius: 0 0 3px 3px;
}
.blog-post .body img {
  display: block;
  max-width: 80%;
  margin: 20px auto;
}
.blog-post .body iframe {
  display: block;
  margin: 0 auto 20px auto;
}
.blog-post .body pre {
  background: #333;
}
.blog-post .body pre code {
  color: #f4f4f4;
}
