.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.cuprum {
  font-family: 'Cuprum', sans-serif, Helvetica, Arial;
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */

  -ms-user-select: none;
  user-select: none;
}
.discover #searchChart {
  position: relative;
}
.discover .searchChart {
  margin-top: 30px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.discover.container .search {
  margin-top: 35px;
}
.discover.container .search .search-form {
  margin: 0;
  width: auto;
}
.discover.container .search .search-form [type=submit] {
  margin-top: 1px;
}
.discover .dot {
  opacity: 0.5;
  cursor: pointer;
  position: relative;
}
.discover .dot:hover {
  opacity: 0.75;
  stroke: #000000;
  stroke-width: 2px;
}
.discover .axis path,
.discover .axis line {
  fill: none;
  shape-rendering: crispedges;
  stroke: #666666;
}
.discover .x.label,
.discover .y.label {
  font-size: 20px;
}
.discover .popover {
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #BBB;
  padding: 10px;
  max-width: 350px;
  min-width: 250px;
  position: absolute;
}
.discover .popover .moduleName {
  margin: 0 0 5px;
}
.discover .popover .moduleLanguage {
  margin: 0 0 5px;
}
.discover .popover .moduleLanguage .name,
.discover .popover .moduleLanguage .color {
  display: inline-block;
  vertical-align: middle;
}
.discover .popover .moduleLanguage .color {
  height: 14px;
  width: 14px;
}
.discover .popover .moduleLanguage .name {
  padding-left: 5px;
}
.discover .popover .moduleDescription {
  color: #666;
  margin-bottom: 0;
}
.discover .popover .moduleStars .activity,
.discover .popover .moduleStars .stars {
  margin: 0;
  padding-bottom: 5px;
  white-space: nowrap;
}
.discover .popover .moduleStars .activity i,
.discover .popover .moduleStars .stars i {
  margin-right: 5px;
}
.discover .moduleComparison {
  margin-top: 30px;
  background: #ffffff;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 10px;
}
.discover .moduleComparison .table {
  margin: 0;
}
.discover .moduleComparison .table tfoot h3 {
  text-align: center;
  color: #666;
}
.discover .filter {
  margin-top: 35px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 20px;
}
.discover .filter h3 {
  margin-top: 0;
}
.sign-in {
  margin-right: 20px;
}
.container.login {
  padding: 180px 0 120px;
}
.container.login .github-auth {
  padding: 5px 5px 5px 135px;
  background: url(/static/images/github_128.png) no-repeat 5px 50%;
  height: 128px;
  line-height: 128px;
  display: inline-block;
  font-size: 48px;
}
.container.profile {
  margin-top: 30px;
}
.container.profile .informationBox .agreement .agreementWrapper {
  padding: 20px;
  background: #ffffff;
  margin-bottom: 20px;
}
.container.profile .informationBox .agreement .agreementWrapper .agreementText {
  font-size: 12px;
  color: #666;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 15px;
}
.container.profile .informationBox .agreement label.checkbox {
  margin-left: 10px;
  line-height: 30px;
  white-space: nowrap;
  display: inline-block;
}
.container.profile .informationBox .agreement label.checkbox input {
  margin-top: 8px;
}
.container.profile .personalInformation {
  max-width: 220px;
}
.container.profile .personalInformation hr {
  margin: 15px 0 10px;
  border-top-color: #999;
}
.container.profile .personalInformation .avatar {
  padding: 5px;
  border: 1px solid #ccc;
  height: 210px;
  width: 210px;
  background: #ffffff;
}
.container.profile .personalInformation .avatar + h3 {
  margin-bottom: 0;
}
.container.profile .personalInformation .avatar + h3 + h4 {
  margin-top: 0;
}
.container.profile .personalInformation .accountType p {
  line-height: 26px;
  margin-bottom: 0;
}
.container.profile .personalInformation .accountType .status {
  float: right;
  display: inline-block;
}
.container.profile .personalInformation .accountType .status a {
  vertical-align: top;
}
.project-list li,
.task-list li {
  margin-bottom: 2px;
  padding: 10px;
  cursor: pointer;
}
.project-list li:hover,
.task-list li:hover {
  background-color: #DDD;
}
.project-list li span {
  visibility: hidden;
}
.project-list li:hover span {
  visibility: visible;
}
.share-ideas {
  position: fixed;
  height: 30px;
  width: 180px;
  background: #C2CE14;
  top: 45%;
  left: -85px;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  line-height: 25px;
  padding: 0 10px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out;
  -o-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}
.share-ideas:hover,
.share-ideas:active,
.share-ideas:focus {
  color: #333;
  text-decoration: none;
}
#shareYourThoughts {
  background: white;
  position: fixed;
  z-index: 1000;
  top: 25%;
  left: -560px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}
.show #shareYourThoughts {
  left: 0;
}
.show .share-ideas {
  left: 475px;
}
#ideas,
#email {
  width: 516px;
}
