{% extends "base.html" %}
  {% block title %}OpenInclude|View Snippet{% endblock title %}
  {% block content %}
    <h1>{{ snippet.title }}</h1>
    <div>Profile: <a href="{{ snippet.profile_url }}" title="Profile">{{ snippet.profile_url }}</a></div>
    <div>Description: {{ snippet.code_block|safe }}</div>
    <div>License: <a href="{{ snippet.license_url }}" title="License">{{ snippet.license_url }}</a></div>
    <div>Author: {{ snippet.user }}</div>
    <div>Created At: {{ snippet.created_at }}</div>
  {% endblock content %}