{% extends "base.html" %}
  {% block title %}OpenInclude|View Snippet{% endblock title %}
  {% block extra-js %}
  <link href="/static/css/highlight.min.css" rel="stylesheet" type="text/css" media="screen">
  <script src="/static/js/highlight.min.js"></script>
  <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
  {% endblock extra-js %}
  {% block body %}
    <h1>{{ snippet.title }}</h1>
    <div>Profile: <a href="{{ snippet.profile_url }}" title="Profile">{{ snippet.profile_url }}</a></div>
    <div>
      <span>Code Block:</span> 
      <p><pre><code>{{ snippet.code_block|safe }}</code></pre></p>
    </div>
    <div>License: <a href="{{ snippet.license_url }}" title="License">{{ snippet.license_url }}</a></div>
    <div>Author: {{ snippet.user }}</div>
    <div>Created At: {{ snippet.created_at }}</div>
  {% endblock %}
