.project-list li, .task-list li {
    margin-bottom: 2px;
    padding: 10px;
    cursor: pointer;
}

.project-list li:hover, .task-list li:hover {
    background-color: #DDD;
}

.project-list li span {
    visibility: hidden;
}

.project-list li:hover span {
    visibility: visible;
}

#typeahead {
  position: absolute;
  z-index: 100;
  background-color: white;
  border: 1px solid gray;
}

.typeahead-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.typeahead-container li {
  padding: 6px;
  cursor: pointer;
}

.typeahead-container li:hover {
  background-color: gray;
}