.stackQAHistory, .commitHistory, .starsHistory {
  .border-radius(3px);
  background: @white;
  margin-bottom: 20px;

  .axis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    &.x path {
      display: none;
    }
  }
  
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
}


.module {
  .toolbar {
    margin-top: 20px;
  }
}


