.share-ideas {
  position: fixed;
  height: 30px;
  width: 180px;
  background: #C2CE14;
  top: 45%;
  left: -85px;
  .transform(rotate(270deg));
  .border-radius(0px 0px 5px 5px);
  line-height: 25px;
  padding: 0 10px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: left 0.3s ease-out;
     -moz-transition: left 0.3s ease-out;
       -o-transition: left 0.3s ease-out;
          transition: left 0.3s ease-out;
  &:hover, &:active, &:focus {
    color: #333;
    text-decoration: none;
  }
}

// .share-ideas.show {
  // left: 475px;
// }

#shareYourThoughts {
  background: white;
  position: fixed;
  z-index: 1000;
  top: 25%;
  left: -560px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}

.show { 
  #shareYourThoughts {
    left: 0;
  }
  .share-ideas {
    left: 475px;
  }
}

// #shareYourThoughts.show {
  // left: 0;
// }

#ideas, #email {
  width: 516px;
}
