<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Open Include" />
  <meta name="description" content="Open Include" />
  <title>{% block title %}{% endblock title %}</title>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
  <script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
  {% block extra-js %}{% endblock extra-js %}
</head>
<boby>
  <div class='header'>
    <ul>		
	  <li>
	    <a href="{% url all_snippets %}" title="All snippets">All Snippets</a>
	  </li>
	  <li>
	    <a href="{% url add_snippet %}" title="Add snippet">Add Snippet</a>
	  </li>
	  <li>
	    <a href="#" title="About">About</a>
	  </li>
	  <li>
	    <a href="#" title="Contact">Contact</a>
	  </li>
    </ul>
  </div>
  <div class="mid">
    {% block content %}{% endblock content %}
  </div>
  <div class="right-top"></div>
  <div class="footer">
    <ul>		
	  <li>
	    <a href="#" title="About">About</a>
	  </li>
	  <li>
	    <a href="#" title="Contact">Contact</a>
	  </li>
    </ul>
  </div>
</body>
</html>