<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Open Include" />
  <meta name="description" content="Open Include" />
  <title>{{ title }} - Open Include</title>
  <link href="{{ STATIC_URL }}css/comm.css" rel="stylesheet" type="text/css" media="screen" />
  <script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
  {% block extra-js %}{% endblock %}
</head>
<boby>
    <!-- header start -->
    {% block header %}
        <header>
          <div class="wrapper">
            <h1><a href="/" title="Open Include">Open Include</a></h1>

            {% if is_open %}
              {% if user.is_authenticated %}
              <div class="sign-in"><a href="{% url member-logout %}" class="button">sign out</a></div>
              <div class="sign-in" style="padding-right:20px"><a href="{% url member-profile %}" class="button">Profile</a></div>
              {% else %}
              <div class="sign-in"><a href="{% url member-signin %}" class="button">sign in</a></div>
              {% endif %}
            {% endif %}

          </div>
        </header>
    {% endblock %}
    <!-- header start -->
    
    <!-- body start -->
    {% block body %}

    {% endblock %}
    <!-- body start -->

    <!-- footer start -->
    {% block footer %}
        <footer>
          <div class="wrapper">
            <p>&copy; 2013 Open Include. All rights reserved.</p>
          </div>
        </footer>
    {% endblock %}
    <!-- footer end -->
</body>
</html>
