<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Open Include</title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
  <div class="wrapper">
    <h1><a href="index.html" title="Open Include">Open Include</a></h1>
    <div class="sign-in"><a href="#" class="button">sign in</a></div>
  </div>
</header>
<section class="contents">
  <div class="wrapper">
    <div class="features">
      <ul>
        <li> <a href="#">
          <div class="box"><img src="images/icon-discover.png" alt="">
            <h2>Discover</h2>
            <p>quality open source projects</p>
          </div>
          </a> </li>
        <li> <a href="#">
          <div class="box"><img src="images/icon-demo.png" alt="">
            <h2>Demo</h2>
            <p>on our virtual machines</p>
          </div>
          </a> </li>
        <li> <a href="#">
          <div class="box"><img src="images/icon-integrate.png" alt="">
            <h2>Integrate</h2>
            <p>into your current work</p>
          </div>
          </a> </li>
        <li> <a href="#">
          <div class="box"><img src="images/icon-contribute.png" alt="">
            <h2>Contribute</h2>
            <p>code or cash to the open source ecosystem</p>
          </div>
          </a> </li>
      </ul>
    </div>
    <div class="search">
      <form class="search-form">
        <input type="text" placeholder="discover an open source project">
        <button type="submit">search</button>
      </form>
      <a href="#" class="advanced">advanced search</a> </div>
    <div class="search-terms">
      <h3>sample search terms:</h3>
      <ul>
        <li><a href="#">neural net python</a></li>
        <li><a href="#">prime number generator java</a></li>
        <li><a href="#">scraping toolkit</a></li>
        <li><a href="#">sleek web design</a></li>
      </ul>
    </div>
  </div>
</section>
<footer>
  <div class="wrapper">
    <p>&copy; 2012 Open Include. All rights reserved.</p>
  </div>
</footer>
</body>
</html>
