<div class='container login'>  
  <div class='row'>
  	  <div class='offset2 span8 text-center''>		  
		  <form name="signin" method="post" action="">              
		    <a href="{trello_auth_url}}" class="trello-auth">Authenticate Trello</a>
		  </form>  	
	  </div>
  </div>
</div>
