<div class='container profile'>
	<div class='row'>
		<div class='span12'>					
			<div class='row'>
			  <div class='span4'>
			    <div class='personalInformation'>
            <h3>Administrator</h3>
            <hr />
            <a href='{{users_with_stripe}}' class='btn btn-success btn-mini'>View Bills</a>
            
			    </div>			             
			  </div>
			  <div class='span8 informationBox'>{{{informationBox}}}</div>
			</div>
		</div>
	</div>
</div>