{% extends "base.html" %}
{% block body %}
<section class="contents">
  <div class="wrapper">
    <div class="features">
      <ul>
        <li> <a href="{% url discover %}">
          <div class="box"><img src="{{ STATIC_URL }}images/icon-discover.png" alt="">
            <h2>Discover</h2>
            <p>quality open source projects</p>
          </div>
          </a> </li>
        <li> <a href="{% url demo %}">
          <div class="box"><img src="{{ STATIC_URL }}images/icon-demo.png" alt="">
            <h2>Demo</h2>
            <p>on our virtual machines</p>
          </div>
          </a> </li>
        <li> <a href="{% url integrate %}">
          <div class="box"><img src="{{ STATIC_URL }}images/icon-integrate.png" alt="">
            <h2>Integrate</h2>
            <p>into your current work</p>
          </div>
          </a> </li>
        <li> <a href="{% url contribute %}">
          <div class="box"><img src="{{ STATIC_URL }}images/icon-contribute.png" alt="">
            <h2>Contribute</h2>
            <p>code or cash to the open source ecosystem</p>
          </div>
          </a> </li>
      </ul>
    </div>
    <div class="search">
      <form  class="search-form" action="{% url project-search '' %}" method="GET">
        <input type="text" name="query" placeholder="discover an open source project">
        <button type="submit">search</button>
      </form>
      <a href="#" class="advanced">advanced search</a> </div>
    <div class="search-terms">
      <h3>sample search terms:</h3>
      <ul>
        <li><a href="#">neural net python</a></li>
        <li><a href="#">prime number generator java</a></li>
        <li><a href="#">scraping toolkit</a></li>
        <li><a href="#">sleek web design</a></li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
