{% extends "base.html" %}

{% block title %}Open Include|Login{% endblock %}

{% block content %}
<div>
  
  {% if form.errors %}
	  <div class="message error">
	    <h2>Please try again</h2>
	    <p>The username or password you entered is incorrect.</p>
	  </div>
	{% endif %}
  
  <h1>Login to your account</h1>
  <form name="signin" method="post" action="{% url auth_login %}">
    <input type="hidden" name="next" value="{{ request.REQUEST.next }}" />  
    {% csrf_token %}
    <div class="form-row">
      <label for="email">Username</label>
      <input type="text" name="username" value=""/>
    </div>
    <div class="form-row">
      <label for="password">Password</label>
      <input type="password" name="password" value=""/>
    </div>
    
    <div class="form-row clearfix">
        <input type="submit" name="submit" value="Login"/>
    </div>
    
  </form>
</div>
{% endblock content %}