<div class='span12'>
	<table class='table table-striped table-hover table-bordered'>
		<thead>
			<tr>
				<th>Project Name</th><th>Languages</th><th>Active Contributors</th><th>Last Commit</th><th>Start on GitHub</th><th>Questions on Stack Overflow</th><th>Percentage</th>
			</tr>
		</thead>
		<tbody>
			{{#each projects}}
				{{#with this}}
				
				
				
				{{/with}}
			{{/each}}
		</tbody>
		{{#unless project}}
		<tfoot>
			<tr>
				<td colspan=7><h3>Click on the project to add it to the comparison list</h3></td>
			</tr>
		</tfoot>
		{{#/unless}}
	</table>
</div>