<div class='filter'>
	<h3>Filter</h3>
	<h4>Languages</h4>
	<ul class='unstyled'>
		{{#each languages}}
			{{#with this}}
			<li>
				<label class='checkbox'>
					<input type='checkbox' name='languageFilter' value="{{name}}" /> {{name}} 				
				</label>
			</li>
			{{/with}}
		{{/each}}
	</ul>
</div>
