<section class="contents discover">
	<div class='container'>
		<div class='row'>
			<div class='span8'>				
				{{> discover/search}}
			    {{> discover/chart}}
			</div>
			<div class='span4'>
				{{> discover/filter}}
			</div>
		</div>
		<div class='row'>
			{{> discover/compare}}
		</div>
	</div>
</section>