<div class="search">
  <form  class="search-form" action="{{discover_search_action}}" method="GET">
    <input type="text" name="q" placeholder="discover an open source project" value="{{discover_search_query}}">
    <button type="submit">search</button>
  </form>  
</div>