<div class="search">
  <form  class="search-form" action="" method="GET">
    <input type="text" name="query" placeholder="discover an open source project">
    <button type="submit">search</button>
  </form>  
</div>